{% extends "base_generic.html" %}

{% block content %}
<h1>Welcome to Bookit</h1>
<div>
  <h3>
    Bookit is the personal library at your fingertips.
  </h3>
  <p>Here is some filler text.</p>
</div>
<div>
  {% if user.is_authenticated %}
  <h2>User: {{ user.get_username }}</h2>
  <p><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    {% else %}
    <h3><a href="{% url 'login'%}?next={{request.path}}">Login or Create Account!</a></li>
      {% endif %}
      <h2>Quick Commands:</h2>
      <a href="{% url 'book_add' %}">Add Book</a>
      <h2>Overdue Books:</h2>
</div>
{% endblock %}