{% extends "base_generic.html" %}

{% block content %}
<div class="w3-container">
  <h1 class="w3-left">Book List</h1>
  <div class="w3-margin-top w3-right">
    <a href="{% url 'book_add' %}">Add Book</a>
  </div>
</div>
<hr class="w3-border">
<div>
  <div class="w3-container">
    <form class="w3-left" action="{% url 'book_search' %}" method="get">
      <input name="q" type="text" placeholder="Search...">
    </form>
    <div class="w3-dropdown-hover w3-right">
      <button class="w3-button">Filter</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a href="{% url 'filter_overdue' %}" class="w3-bar-item w3-button">Overdue Books</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
      </div>
    </div>
  </div>
  {% if book_list %}
  {% for book in book_list %}
  <div class="w3-cell-row w3-margin-bottom">
    <div class="w3-cell w3-border-right w3-center">
      <h3><a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></h3>
      <p>{{ book.isbn }}</p>
    </div>
    <div class="w3-cell w3-border-right w3-center">
      <p>{{ book.genre }}</p>
      <h3><a href="{% url 'book_delete' book.pk %}">Delete</a></h3>
    </div>
    <div class="w3-cell w3-center">
      <p><a>{{ book.status }}</a></p>
    {% if book.status == 'AVAILABLE' %}
      <h3><a href="{% url 'loan_add' book.pk %}">Loan</a></h3>
    {% else %}
      <h3><a href="{% url 'loan_return' book.pk %}">Return</a></h3>
    {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>No Books</p>
  {% endif %}
</div>
{% endblock %}