{% extends "base_generic.html" %}

{% block content %}
<div class="w3-container">
  <h1 class="w3-left">Loan Dashboard</h1>
</div>
<hr class="w3-border">
<div>
  {% if loan_list %}
  {% for LoanInstance in loan_list %}
  <div class="w3-cell-row w3-margin-bottom">
    <div class="w3-cell w3-border-right w3-center">
      <p>Loaner</p>
      <h3>{{ LoanInstance.loaner }}</h3>
    </div>
    <div class="w3-cell w3-border-right w3-center">
      <p>Book Loaned</p>
      <h3>{{ LoanInstance.book_loaned }}</h3>
    </div>
    <div class="w3-cell w3-center">
      <p>Due Date</p>
      <h3>{{ LoanInstance.due_date }}</h3>
      <p>Is Overdue</p>
      <h3>{{ LoanInstance.loan_status }}</h3>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>No Loans</p>
  {% endif %}
</div>
{% endblock %}